.herosection{
    height: 100vh;
    /* width: 207vh; */
    /* background-color: rgb(136, 153, 51); */
    scroll-snap-align: center;
   
}
.whosection{
    height: 100vh;
    /* width: 207vh; */
    /* background-color: rgb(50, 27, 162); */
    scroll-snap-align: center;
}
.worksection{
    height: 100vh;
    /* width: 207vh; */
    /* background-color: rgb(82, 16, 71); */
    scroll-snap-align: center;
}
.contactsection{
    height: 100vh;
    /* width: 207vh; */
    /* background-color: rgb(68, 15, 22); */
    scroll-snap-align: center;
    color: white;
}
.navbar{
    display: flex;
    justify-content: center;
   
    
}
.navbar2{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
}
.links{
    display: flex;
    align-items: center;
    gap: 50px;
    cursor: pointer;
}
.logo{
    height: 50px ;
}
.icons{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search{
    width: 20px;
    cursor: pointer;
}
.hirebutton{
    width: 150px;
    padding: 10px;
    background-color: #da4ea2;
}
.belownavbar{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
/* .left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
 
    
} */
.right{
    flex: 3;
    position: relative;
}
.myprof{
    display: flex;
    align-items: center;
    gap: 10px;
}
.height{
    height: 5px;
}
.moonimg{
    width: 800px;
    height: 600px;
    object-fit: contain;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    
    animation: animate 3s infinite ease alternate;

}

@keyframes animate {
    to{
        transform: translateY(50px);
    }
   
}
.left2{
    align-items: left;
}
.myh2{
    color: #da4ea2;
}
.belownavbar2{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 100px;
    display: flex;
    align-items: center;
   
}
.leftwork{
    flex:1;
    display: flex;
    
}
.rightwork{
    flex:1;
}
.belownavbar3{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20vh 0;
    display: flex;
    align-items: center;
}
.worklist{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.workli{
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
}
.workli::after{
        
        position: absolute;
        top: 0;
        left: 0;
    }
.contactme{
    padding-left: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}
.leftcontact{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.rightcontact{
    flex: 1;
}
.contactname{
    padding: 20px;
    background-color: rgb(153, 142, 142);
    border: none;
    border-radius: 5px;
}
.contactemail{
    padding: 20px;
    background-color: rgb(153, 142, 142);
    border: none;
    border-radius: 5px;
}
.contactmessage{
    padding: 20px;
    background-color: rgb(153, 142, 142);
    border: none;
    border-radius: 5px;
}
.belownavbar4{
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 10vh 0;
    display: flex;
    align-items: center;
}
.sendbutton{
    
        /* width: 150px; */
        padding: 10px;
        background-color: #da4ea2;
    
}

.righthero{
    width: 50%;
    height: 100vh;
}
/* Mymodel.css */

/* .mymodel-container {
    width: 80%; 
    height: 90vh;
    top: 0;
    right: 0;
  }
   */

 /* styles.css */

.container {
    display: flex;
  }
  
  .mymodel-container {
    width: 50%;
    height: 80vh;
    margin-right: 20px; 
    padding-bottom: 10%;
  }
  
  .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 10%;
    padding-top: 8%;
  }
  /* box */
 
  .picturebox{
    width: 100%;
    height: 300px;
    justify-content: center;
  }
  .mymodel-container2 {
    /* width: 50%;
    height: 80vh;
    margin-right: 20px; 
    padding-bottom: 10%;
    justify-content: center; */
    width: 50%;
    height: 100%;
    justify-content: center;
    padding-top: 20%;
   
  }
  